{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.titre, "Titre", {'attr': {'class': 'col-form-label', 'for':'titre'}}) }}
                {{ form_errors(form.titre) }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'type':'text', 'id': 'titre'}}) }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.parties, "Partie", {'attr': {'class': 'col-form-label', 'for':'partie'}}) }}
                {{ form_errors(form.parties) }}
                {{ form_widget(form.parties, {'attr': {'class': 'form-control', 'type':'text', 'id': 'partie'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                {{ form_label(form.contenu, "Contenu", {'attr': {'class': 'col-form-label', 'for':'contenu'}}) }}
                {{ form_errors(form.contenu) }}
                {{ form_widget(form.contenu, {'attr': {'class': 'form-control', 'type':'textarea', 'id': 'contenu', 'rows': '10'}}) }}
            </div>
        </div>
    </div>                      
    <button class="btn btn-xs btn-success float-right">
        <i class="fa fa-download"></i>&nbsp;
        {{ button_label|default('Enregistrer') }}
    </button>
    <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('chapitre_index') }}"><i class="fa fa-list"></i>&nbsp;Liste</a>
    {{ form_rest(form) }}
{{ form_end(form) }}