{% extends 'security.html.twig' %}
{% block title %} Register {% endblock %}
{% block body %}
    {{ form_start(registrationForm) }}
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center">
                <a href="/">
                    <img class="img-fluid logo-img" src="../assets/images/ktc-center.png" alt="logo">
                </a>
            </div>
            <div class="card-body font-weight-bold">
                <form method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.email, "Email", {'attr': {'class': 'col-form-label', 'for':'email'}}) }}
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-control-sm', 'type':'email', 'id': 'email', 'name': 'email'}}) }}
                                {{ form_errors(registrationForm.email) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.plainPassword, "Mot de passe", {'attr': {'class': 'col-form-label', 'for':'plainPassword'}}) }}
                                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control form-control-sm', 'type':'password', 'id': 'plainPassword', 'name': 'plainPassword'}}) }}
                                {{ form_errors(registrationForm.plainPassword) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    {{ form_widget(registrationForm.agreeTerms) }}
                                    {{ form_label(registrationForm.agreeTerms, "Accepter les conditions d'utilisation", {'attr': {'class': 'col-form-label', 'for':'agreeTerms'}}) }}
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-2">
                            <button type="submit" class="btn btn-success btn-sm btn-block">S'enregistrer</button>
                        </div>
                        <div class="col-12">
                            <a href="{{ path('app_login') }}" class="btn btn-outline-warning btn-sm btn-block">Se connecter</a>
                        </div>
                    </div>
                    {{ form_rest(registrationForm) }}
                </form>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
