{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {# Affichage du label du champ du formulaire. #}
                {{ form_label(form.nom, "Nom", {'attr': {'class': 'col-form-label', 'for':'nom'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.nom) }}

                {# Affichage du champ du formulaire. #}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'nom':'text', 'id': 'nom'}}) }}
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                {# Affichage du label du champ du formulaire. #}
                {{ form_label(form.frais, "Frais", {'attr': {'class': 'col-form-label', 'for':'frais'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.frais) }}

                {# Affichage du champ du formulaire. #}
                {{ form_widget(form.frais, {'attr': {'class': 'form-control', 'frais':'text', 'id': 'frais'}}) }}
            </div>
        </div>
    </div>  

     <div class="row">
        <div class="col-6">
            <div class="form-group">
                {# Affichage du label du champ du formulaire. #}
                {{ form_label(form.formation, "Formation", {'attr': {'class': 'col-form-label', 'for':'formation'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.formation) }}

                {# Affichage du champ du formulaire. #}
                {{ form_widget(form.formation, {'attr': {'class': 'form-control', 'formation':'text', 'id': 'formation'}}) }}
            </div>
        </div>

             <div class="col-6">
            <div class="form-group">
                {# Affichage du label du champ du formulaire. #}
                {{ form_label(form.matieres, "Matiere", {'attr': {'class': 'col-form-label', 'for':'matieres'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.matieres) }}

                {# Affichage du champ du formulaire. #}
                {{ form_widget(form.matieres, {'attr': {'class': 'form-control', 'matieres':'text', 'id': 'matieres'}}) }}
            </div>
        </div>
        </div>                      
    <button class="btn btn-xs btn-success float-right">
        <i class="fa fa-download"></i>&nbsp;
        {{ button_label|default('Enregistrer') }}
    </button>
    <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('specialite_index') }}"><i class="fa fa-list"></i>&nbsp;Liste</a>
    {{ form_rest(form) }}
{{ form_end(form) }}