{% extends 'base.html.twig' %}

{% block title %}Détail sur la Lecon{% endblock %}

{% block body %}
     <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header">Détail sur la lecon </h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="titre" class="col-form-label">Titre</label>
                                    <input id="titre" disabled type="text" class="form-control" value={{ lecon.titre|e('html_attr') }}>
                                    </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                     <label for="contenu" class="col-form-label">Contenu</label>
                                    <input id="contenu" disabled type="text" class="form-control" value={{ lecon.contenu|e('html_attr') }}>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                     <label for="url" class="col-form-label">URL</label>
                                    <input id="url" disabled type="text" class="form-control" value={{ lecon.url}}>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-xs btn-primary float-right mr-2" href="{{ path('lecon_edit', {'id': lecon.id}) }}">
                            <i class="fa fa-pencil-square-o"></i>&nbsp;Modifier
                        </a>
                        <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('lecon_index') }}">
                            <i class="fa fa-list"></i>&nbsp;Liste
                        </a>
                        {{ include('lecon/_delete_form.html.twig') }}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
