{% extends 'base.html.twig' %}

{% block title %}Dispenser index{% endblock %}

{% block body %}
    <h1>Dispenser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dispenser in dispensers %}
            <tr>
                <td>{{ dispenser.id }}</td>
                <td>{{ dispenser.debut ? dispenser.debut|date('Y-m-d') : '' }}</td>
                <td>{{ dispenser.fin ? dispenser.fin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('dispenser_show', {'id': dispenser.id}) }}">show</a>
                    <a href="{{ path('dispenser_edit', {'id': dispenser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dispenser_new') }}">Create new</a>
{% endblock %}
