{% extends 'base.html.twig' %}

{% block title %}Apprenant index{% endblock %}

{% block body %}
    <h1>Apprenant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateNaiss</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Sexe</th>
                <th>LieuNaissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apprenant in apprenants %}
            <tr>
                <td>{{ apprenant.id }}</td>
                <td>{{ apprenant.nom }}</td>
                <td>{{ apprenant.prenom }}</td>
                <td>{{ apprenant.dateNaiss ? apprenant.dateNaiss|date('Y-m-d') : '' }}</td>
                <td>{{ apprenant.pays }}</td>
                <td>{{ apprenant.ville }}</td>
                <td>{{ apprenant.sexe }}</td>
                <td>{{ apprenant.lieuNaissance }}</td>
                <td>
                    <a href="{{ path('apprenant_show', {'id': apprenant.id}) }}">show</a>
                    <a href="{{ path('apprenant_edit', {'id': apprenant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('apprenant_new') }}">Create new</a>
{% endblock %}
