{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {# Affichage du label du champ du formulaire. #}
                {{ form_label(form.nom, "Nom", {'attr': {'class': 'col-form-label', 'for':'nom'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.nom) }}

                {# Affichage du champ du formulaire. #}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'type':'text', 'id': 'nom'}}) }}
                </div>
        </div>
            <div class="col-6">
            <div class="form-group">
                {# Affichage du label du champ du formulaire. #}
                {{ form_label(form.code, "Code", {'attr': {'class': 'col-form-label', 'for':'code'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.code) }}

                {# Affichage du champ du formulaire. #}
                {{ form_widget(form.code, {'attr': {'class': 'form-control', 'code':'text', 'id': 'code'}}) }}
            </div>
        </div>
    </div>                        
    <button class="btn btn-xs btn-success float-right">
        <i class="fa fa-download"></i>&nbsp;
        {{ button_label|default('Enregistrer') }}
    </button>
    <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('matiere_index') }}"><i class="fa fa-list"></i>&nbsp;Liste</a>
    <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('partie_index') }}"><i class="fa fa-list"></i>&nbsp;ajouter une partie</a>
    {{ form_rest(form) }}
{{ form_end(form) }}