{% extends 'base.html.twig' %}

{% block title %}Détail sur la Matiere{% endblock %}

{% block body %}
{{ dump(matieres) }}
     <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header text-uppercase">Détail sur la matiere</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="nom" class="col-form-label">Nom</label>
                                    <input id="nom" disabled type="text" class="form-control" value={{ matiere.nom|e('html_attr') }}>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="code" class="col-form-label">Code</label>
                                    <input id="code" disabled type="text" class="form-control" value={{ matiere.code|e('html_attr') }}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="extrait" class="col-form-label">Extrait</label>
                                    <textarea id="extrait" disabled type="text" class="form-control" rows="10">
                                        {{matiere.extrait}}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-xs btn-primary float-right mr-2" href="{{ path('matiere_edit', {'id': matiere.id}) }}">
                            <i class="fa fa-pencil-square-o"></i>&nbsp;Modifier
                        </a>
                        <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('matiere_index') }}">
                            <i class="fa fa-list"></i>&nbsp;Liste
                        </a>
                        {{ include('matiere/_delete_form.html.twig') }}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
