{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {# Affichage du label du champ du formulaire. #}
                {{ form_label(form.telephone, "Telephone", {'attr': {'class': 'col-form-label', 'for':'telephone'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.telephone) }}

                {# Affichage du champ du formulaire. #}
                {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'telephone':'text', 'id': 'telephone'}}) }}
            </div>
        </div>
    </div>                        
    <button class="btn btn-xs btn-success float-right">
        <i class="fa fa-download"></i>&nbsp;
        {{ button_label|default('Enregistrer') }}
    </button>
    <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('adresse_index') }}"><i class="fa fa-list"></i>&nbsp;Liste</a>
    {{ form_rest(form) }}
{{ form_end(form) }}