{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}
{% block body %}
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header text-uppercase ">Liste d'inscription</h3>                    
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Somme</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">AnneeAcademique</th>
                                    <th scope="col">Specialite</th>
                                
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">DateNaiss</th>
                                    <th scope="col">pays</th>
                                    <th scope="col">ville</th>
                                    <th scope="col">sexe</th>
                                    <th scope="col">LieuNaissance</th>
                                    
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inscription in inscriptions %}
                                    <tr>
                                       <td>{{ inscription.somme }}</td>
                                        <td>{{ inscription.date|date('d/m/Y') }}</td>
                                        <td>{{ inscription.anneeAcademique }}</td>
                                        <td>{{ inscription.specialite }}</td>
                                        
                                        <td>{{ inscription.apprenant.nom }}</td>
                                        <td>{{ inscription.apprenant.prenom }}</td>
                                        <td>{{ inscription.apprenant.dateNaiss|date('d/m/Y') }}</td>
                                        <td>{{ inscription.apprenant.pays}}</td>
                                        <td>{{ inscription.apprenant.ville }}</td>
                                        <td>{{ inscription.apprenant.sexe }}</td>
                                        <td>{{ inscription.apprenant.lieuNaissance}}</td>
                                        
                                        <td>
                                            <form method="post" action="{{ path('inscription_delete', {'id': inscription.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.id) }}">
                                                <button class="btn btn-xs btn-danger float-left mr-2">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-xs btn-info" href="{{ path('inscription_show', {'id': inscription.id}) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-xs btn-primary" href="{{ path('inscription_edit', {'id': inscription.id}) }}">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr/>
                        <a class="btn btn-xs btn-primary float-right" href="{{ path('inscription_new') }}">
                            <i class="fa fa-pencil"></i>&nbsp;Ajouter
                        </a>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
