{{ form_start(form, {'attr': {'role': 'form'}}) }}
<div class="row">
	<div class="col-6">
		<div class="form-group">
			{# Affichage du label du champ du formulaire. #}
			{{ form_label(form.nom, "Nom", {'attr': {'class': 'col-form-label', 'for':'nom'}}) }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.nom) }}

			{# Affichage du champ du formulaire. #}
			{{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-sm', 'nom':'text', 'id': 'nom'}}) }}
		</div>
	</div>

	<div class="col-6">
		<div class="form-group">
			{# Affichage du label du champ du formulaire. #}
			{{ form_label(form.prenom, "Prenom", {'attr': {'class': 'col-form-label', 'for':'prenom'}}) }}

			{{ form_errors(form.prenom) }}

			{{ form_widget(form.prenom, {'attr': {'class': 'form-control form-control-sm', 'prenom':'text', 'id': 'prenom'}}) }}
		</div>
	</div>
	</div>
	<div class="row">
	<div class="col-6">
		<div class="form-group">
			{# Affichage du label du champ du formulaire. #}
			{{ form_label(form.dateNaiss, "DateNaiss", {'attr': {'class': 'col-form-label', 'for':'dateNaiss'}}) }}

			{{ form_errors(form.dateNaiss) }}

			{{ form_widget(form.dateNaiss, {'attr': {'class': 'form-control form-control-sm', 'dateNaiss':'text', 'id': 'dateNaiss'}}) }}
		</div>
	</div>

	<div class="col-6">
		<div class="form-group">
			{# Affichage du label du champ du formulaire. #}
			{{ form_label(form.pays, "Pays", {'attr': {'class': 'col-form-label', 'for':'pays'}}) }}

			{{ form_errors(form.pays) }}

			{{ form_widget(form.pays, {'attr': {'class': 'form-control form-control-sm', 'pays':'text', 'id': 'pays'}}) }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<div class="form-group">

			{# Affichage du label du champ du formulaire. #}
			{{ form_label(form.ville, "Ville", {'attr': {'class': 'col-form-label', 'for':'ville'}}) }}

			{{ form_errors(form.ville) }}

			{{ form_widget(form.ville, {'attr': {'class': 'form-control form-control-sm', 'ville':'text', 'id': 'ville'}}) }}
		</div>
	</div>
	<div class="col-6">
		<div class="form-group">


			{# Affichage du label du champ du formulaire. #}
			{{ form_label(form.sexe, "Sexe", {'attr': {'class': 'col-form-label', 'for':'sexe'}}) }}

			{{ form_errors(form.sexe) }}

			{{ form_widget(form.sexe, {'attr': {'class': 'form-control form-control-sm', 'sexe':'text', 'id': 'sexe'}}) }}
		</div>
	</div>
	</div>
	<div class="row">
	<div class="col-6">
		<div class="form-group">
			{# Affichage du label du champ du formulaire. #}
			{{ form_label(form.lieuNaissance, "LieuNaissance", {'attr': {'class': 'col-form-label', 'for':'lieuNaissance'}}) }}

			{{ form_errors(form.lieuNaissance) }}

			{{ form_widget(form.lieuNaissance, {'attr': {'class': 'form-control form-control-sm', 'sexe':'text', 'id': 'lieuNaissance'}}) }}</div>
	</div>
</div>
</div>
<button class="btn btn-xs btn-success float-right">
	<i class="fa fa-download"></i>&nbsp;{{ button_label|default('Enregistrer') }}</button>
<a class="btn btn-xs btn-info float-right mr-2" href="{{ path('enseignant_index') }}">
	<i class="fa fa-list"></i>&nbsp;Liste</a>
{{ form_rest(form) }}{{ form_end(form) }}</div></div><div class="col-3"><div class="form-group"></div></div></div>
