{% extends 'base.html.twig' %}

{% block title %}Liste des Enseignants {% endblock %}

{% block body %}
     <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header text-uppercase ">Liste des enseignants</h3>                    
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">DateNaiss</th>
                                    <th scope="col">pays</th>
                                    <th scope="col">ville</th>
                                    <th scope="col">sexe</th>
                                    <th scope="col">LieuNaissance</th>
                                    <th scope="col">telephone</th>
                                    <th scope="col">email</th>
                                    <th scope="col">boitepostale</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for enseignant in enseignants %}
                                    <tr>
                                        
                                        <td>{{ enseignant.nom }}</td>
                                        <td>{{ enseignant.prenom }}</td>
                                        <td>{{ enseignant.dateNaiss|date('d/m/Y') }}</td>
                                        <td>{{ enseignant.pays}}</td>
                                        <td>{{ enseignant.ville }}</td>
                                        <td>{{ enseignant.sexe }}</td>
                                        <td>{{ enseignant.lieuNaissance}}</td>
                                        <td>{{ enseignant.adresse.telephone}}</td>
                                         <td>{{ enseignant.adresse.email}}</td>
                                           <td>{{ enseignant.adresse.boitepostale}}</td>
                                        
                                        <td>
                                            <form method="post" action="{{ path('enseignant_delete', {'id': enseignant.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enseignant.id) }}">
                                                <button class="btn btn-xs btn-danger float-left mr-2">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-xs btn-info" href="{{ path('enseignant_show', {'id': enseignant.id}) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-xs btn-primary" href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr/>
                        <a class="btn btn-xs btn-primary float-right" href="{{ path('enseignant_new') }}">
                            <i class="fa fa-pencil"></i>&nbsp;Ajouter
                        </a>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
