{% extends 'base.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Enseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th>DateNaiss</th>
                <td>{{ enseignant.dateNaiss ? enseignant.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ enseignant.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ enseignant.ville }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ enseignant.sexe }}</td>
            </tr>
            <tr>
                <th>LieuNaissance</th>
                <td>{{ enseignant.lieuNaissance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enseignant_index') }}">back to list</a>

    <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">edit</a>

    {{ include('enseignant/_delete_form.html.twig') }}
{% endblock %}
