{% extends 'base.html.twig' %}

{% block title %}AnneeAcademique index{% endblock %}

{% block body %}
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header text-uppercase">Liste des Annees Academiques</h3>                 
                    <div class="card-body">
                        <table class="table table-">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Debut</th>
                                    <th scope="col">Fin</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for annee_academique in annee_academiques %}
                                    <tr>
                                        <td>{{ annee_academique.id }}</td>
                                        <td>{{ annee_academique.debut|date('d/m/Y') }}</td>
                                        <td>{{ annee_academique.fin|date('d/m/Y') }}</td>
                                        <td>
                                            <form method="post" action="{{ path('annee_academique_delete', {'id': annee_academique.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annee_academique.id) }}">
                                                <button class="btn btn-xs btn-danger float-left mr-2">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-xs btn-info" href="{{ path('annee_academique_show', {'id': annee_academique.id}) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-xs btn-primary" href="{{ path('annee_academique_edit', {'id': annee_academique.id}) }}">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr> 
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr/>
                        <a class="btn btn-xs btn-primary float-right" href="{{ path('annee_academique_new') }}">
                            <i class="fa fa-pencil"></i>&nbsp;Ajouter
                        </a>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
