{% extends 'base.html.twig' %}

{% block title %}Liste des formats{% endblock %}

{% block body %}
     <h1>Chapitre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chapitre in chapitres %}
            <tr>
                <td>{{ chapitre.id }}</td>
                <td>{{ chapitre.titre }}</td>
                <td>{{ chapitre.contenu }}</td>
                <td>
                    <a href="{{ path('chapitre_show', {'id': chapitre.id}) }}">show</a>
                    <a href="{{ path('chapitre_edit', {'id': chapitre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chapitre_new') }}">Create new</a>
{% endblock %}
